ansible==2.9.10
ansible-lint==4.2.0
#asn1crypto==0.24.0
#cffi==1.12.3
#cryptography==2.6.1
#enum34==1.1.6
#ipaddress==1.0.22
#Jinja2==2.10.1
#MarkupSafe==1.1.1
#pycparser==2.19
#PyYAML==5.1
#ruamel.ordereddict==0.4.13
#ruamel.yaml==0.15.93
#six==1.12.0
