[Unit]
Description=Load ZFS key for %i
DefaultDependencies=no
After=zfs-import.target
Before=zfs-mount.service
ConditionPathExists=/sys/module/zfs

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/zfs load-key %i
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
TimeoutStartSec=0

[Install]
WantedBy=zfs-mount.service
