# Managed by Ansible: {{ site.managed|default(True) }}
# Last generated:     {{ template_run_date }}
# Team:               {{ team.name }}
# Domain:             {{ site.domainname }}
# User:               www-{{ team.name }}
# Group:              www-{{ team.name }}
{%- set clean_urls = site.clean_urls|default(False) %}

{% if 'ssl_cert' in site and 'ssl_cert_key' in site -%}
server {
    listen 80;
    server_name {{ site.domainname }};
    return 302 https://{{ site.domainname }}$request_uri;
}

{% endif%}

server {
  {% if 'ssl_cert' in site and 'ssl_cert_key' in site -%}
  keepalive_timeout   70;

  add_header Strict-Transport-Security “max-age=31536000”;

  listen {{ site.port|default(443) }} ssl;
  ssl_certificate         {{ site.ssl_cert }};
  ssl_certificate_key     {{ site.ssl_cert_key }};
  include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

  {% else -%}
  listen {{ site.port|default(80) }};
  {%- endif %}

  server_name   {{ site.domainname }};
  client_max_body_size 2M;

  root {{ webroot }};

  {% if system_pages == True -%}
  #Disable by setting system_pages to false
  include /etc/nginx/system.conf;
  {% endif %}

  location / {
    {% if site.type == "laravel" or clean_urls == True -%}
      try_files $uri $uri/ /index.php$is_args$args;
    {% endif -%}
    index index.html index.htm index.php;
  }

  location ~ [^/]\.php(/|$) {
    fastcgi_split_path_info ^(.+?\.php)(/.*)$;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_pass unix:/run/php/php7.0-fpm.www-{{ team.name }}.sock;
    fastcgi_index index.php;
    include fastcgi_params;
  }

  location = /favicon.ico {
      log_not_found off;
      access_log off;
  }

  location = /robots.txt {
      allow all;
      log_not_found off;
      access_log off;
  }

  {% if site.type == "drupal" -%}
  # Very rarely should these ever be accessed outside of your lan
  location ~* \.(txt|log)$ {
      deny all;
  }

  location ~ \..*/.*\.php$ {
      return 403;
  }

  location ~ ^/sites/.*/private/ {
      return 403;
  }

  # Allow "Well-Known URIs" as per RFC 5785
  location ~* ^/.well-known/ {
      allow all;
  }

  # Block access to "hidden" files and directories whose names begin with a
  # period. This includes directories used by version control systems such
  # as Subversion or Git to store control files.
  location ~ (^|/)\. {
      return 403;
  }

  location @rewrite {
      rewrite ^/(.*)$ /index.php?q=$1;
  }

  # Don't allow direct access to PHP files in the vendor directory.
  location ~ /vendor/.*\.php$ {
      deny all;
      return 404;
  }

  # Fighting with Styles? This little gem is amazing.
  # location ~ ^/sites/.*/files/imagecache/ { # For Drupal <= 6
  location ~ ^/sites/.*/files/styles/ { # For Drupal >= 7
      try_files $uri @rewrite;
  }

  location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
      expires max;
      log_not_found off;
  }

  {% endif %}

  # For monitoring
  location /stub_status {
    stub_status;
    # Security: Only allow access from the IP below.
    allow 127.0.0.1;
    # Deny anyone else
    deny all;
  }

}
